@import "normalize.css";

@import "./components/page.css";

*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  font-family: Arial, sans-serif;
  font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 320)));
}
