---
layout: layouts/base.njk
---

<nav class="Page-nav">
  <a href="/">Go home</a>
</nav>

<main class="Page-main">
  <article>
    <h1>{{ title }}</h1>

    <p>{{ date | formatDate }}</p>

    {{ content | safe }}
  </article>
</main>

<footer class="Page-footer">
  {% include 'footer.njk' %}
</footer>
